---
---
// Imports [START]
@import "_variables";
@import "_base";
// Imports [END]

// Universal [START]
.test2 {
  color: $brand-color;
}
.grey-section {
  background-color: $grey;
  color: white;
}
.black-section {
  background-color: $black;
  color: $white;
}
.btn {
  border: 2px solid $brand-color;
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  font-weight: bold;
}
// Universal [END]

// Extendable [START]
.font-brand-color {
  color: $brand-color;
}
// Extendable [END]

// Navbar [START]
.navbar {
  background-color: $white;
  font-family: $heading-font-family;
  text-transform: uppercase;
  a {
    color: $black;
  }
  .navbar-brand {
    position: absolute;
    z-index: 2;
  }
  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .nav-item {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .nav-link {
    &:hover {
      color: $brand-color;
    }
  }
}
// Navbar [END]

// Home [START]
.hero {
  padding: 20rem 0rem;
  .img {
    background-color: $black;
    width: 100px;
    margin: 0 auto 20px;
    height: 100px;
    border-radius: 50%;
  }
  h1 {
    font-size: 6.4rem;
  }
  h2 {
    font-size: 1.8rem;
  }
}
.proj-list {
  margin-bottom: 4rem;

  .proj-card {
    height: 240px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    img {
      width: 100px;
    }
    &.dctaxi {
      background-color: #ED213C;
    }
    &.crowdkeep {
      background-color: #0277da;
    }
    &.genesys {
      background-color: #5d3177;
    }
    &.augment {
      background-color: #5b1ec7;
    }
    &.asurface {
      background-color: #4ca3b7;
    }
  }
  /*
  .proj-desc {
    display: flex;
    align-items: center;
    height: 100%;
    text-align: left;
    padding-bottom: 4rem;
  }*/
}
// Home [END]
