---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import 'https://fonts.googleapis.com/css?family=BenchNine:700';
@import 'https://fonts.googleapis.com/css?family=Catamaran:300,400';

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;


$font-light-grey: #ccc;
$font-grey: #808080;
$font-black: #333;

$pm-light-blue: #31ccff;
$pm-blue: #2f87ff;
$pm-dark-blue: #145cbf;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "legacy"
;
