---
---
// Imports [START]
@import "_variables";
@import "_base";
// Imports [END]

// Universal [START]
.test2 {
  color: $brand-color;
}
.grey-section {
  background-color: $grey-bg;
}
.black-section {
  background-color: $black;
  color: $white;
}
.btn {
  transition: ease all .1s;
  border: 2px solid $brand-color;
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  font-weight: bold;
  &:hover, &:focus {
    box-shadow: none;
    color: $white;
    background-color: $brand-color;
  }
  &:active {
    color: $white;
    border-color: $brand-color-dark;
    background-color: $brand-color-dark;
  }

}
.tri-bl {
  width: 0;
	height: 0;
	border-bottom: 80px solid $grey-bg;
	border-right: 100vw solid transparent;
}
.tri-br {
  width: 0;
	height: 0;
	border-bottom: 80px solid $grey-bg;
	border-left: 100vw solid transparent;
}
.tri-tr {
  width: 0;
	height: 0;
	border-top: 80px solid $grey-bg;
	border-left: 100vw solid transparent;
}
.tri-tl {
  width: 0;
	height: 0;
	border-top: 80px solid $grey-bg;
	border-right: 100vw solid transparent;
}
// Universal [END]

// Extendable [START]
.font-brand-color {
  color: $brand-color;
}
// Extendable [END]

// Navbar [START]
.navbar {
  background-color: $white;
  font-family: $heading-font-family;
  text-transform: uppercase;
  a {
    color: $black;
  }
  .navbar-brand {
    position: absolute;
    z-index: 2;
  }
  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .nav-item {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .nav-link {
    &:hover {
      color: $brand-color;
    }
  }
}
// Navbar [END]

// Home [START]
.hero {
  padding: 18rem 0rem;
  position: relative;
  .img {
    background-color: $black;
    width: 100px;
    margin: 0 auto 20px;
    height: 100px;
    border-radius: 50%;
  }
  h1 {
    font-size: 6.4rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  @mixin splash($top, $right, $bottom, $left) {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    position: absolute;
  }
  %splash-sm {
    width: 4rem;
    opacity: .3;
  }
  %splash-md {
    width: 8rem;
    opacity: .5;
  }
  %splash-lg {
    width: 10rem;
    opacity: .8;
  }
  .splash-1 {
    @include splash(auto, 24rem, 8rem, auto);
    @extend %splash-md;
  }
  .splash-2 {
    @include splash(auto, 10rem, 24rem, auto);
    @extend %splash-sm;
  }
  .splash-3 {
    @include splash(auto, 44rem, 6rem, auto);
    @extend %splash-sm;
  }
  .splash-4 {
    @include splash(auto, auto, 16rem, 0rem);
    @extend %splash-md;
  }
  .splash-5 {
    @include splash(auto, auto, 11rem, 42rem);
    @extend %splash-sm;
  }
  .splash-6 {
    @include splash(auto, 2rem, 0rem, auto);
    @extend %splash-lg;
  }
  .splash-7 {
    @include splash(auto, auto, 1rem, 26rem);
    @extend %splash-md;
  }
  .splash-8 {
    @include splash(auto, auto, 4rem, 8rem);
    @extend %splash-lg;
  }
  .splash-9 {
    @include splash(auto, auto, 32rem, 16rem);
    @extend %splash-sm;
  }
}
.proj-list {
  .card {
    height: 255px;
    width: 100%;
    background-color: $black;
    margin-bottom: 4rem;
    transition: ease all .1s;
    &:hover {
      cursor: pointer;
      opacity: .6;
    }
  }
  .proj-card {
    @extend .card;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-height: 80px;
      max-width: 180px;
    }
    &.dctaxi {
      background-color: #ED213C;
    }
    &.crowdkeep {
      background-color: #0277da;
    }
    &.genesys {
      background-color: #5d3177;
    }
    &.augment {
      background-color: #000;
    }
    &.asurface {
      background-color: #4ca3b7;
    }
  }
  .art-card {
    @extend .card;
    img {
      width: 100%;
    }
  }
  /*
  .proj-desc {
    display: flex;
    align-items: center;
    height: 100%;
    text-align: left;
    padding-bottom: 4rem;
  }*/
}
// Home [END]
