<div class="hidden-xl-down">
  <div class="f-box" id="kay2">
    <img src="/img/thumbs/kay2.jpg" alt="">
    <h4>Girl with Book</h4>
    <p>Hello World I like to Draw</p>
  </div>
  <div class="f-box" id="kt">
    <img src="/img/thumbs/kt.jpg" alt="">
    <h4>Secrets</h4>
    <p>Hello World I like to Draw</p>
  </div>
  <div class="f-box" id="dimsum">
    <img src="/img/thumbs/dimsum.jpg" alt="">
    <h4>Dim Sum Galore</h4>
    <p>Hello World I like to Draw</p>
  </div>
  <div class="f-box" id="cake">
    <img src="/img/thumbs/cake.jpg" alt="">
    <h4>Cake Kingdom</h4>
    <p>Hello World I like to Draw</p>
  </div>
  <div class="f-box" id="goldfish">
    <img src="/img/thumbs/goldfish.jpg" alt="">
    <h4>The Snack Who Smiled Back</h4>
    <p>Hello World I like to Draw</p>
  </div>
  <div class="f-box" id="pig">
    <img src="/img/thumbs/pig.jpg" alt="">
    <h4>Piggies</h4>
    <p>Hello World I like to Draw</p>
  </div>
</div>
