<div class="hidden-xl-down">
  <div class="f-box" id="kay2">
    <img src="/img/art/kay2.jpg" alt="">
    <h4>Girl with Book</h4>
    <p>Charcoal Drawing</p>
  </div>
  <div class="f-box" id="kt">
    <img src="/img/art/kt.jpg" alt="">
    <h4>Secrets</h4>
    <p>Digital Painting done in Paint Tool SAI</p>
  </div>
  <div class="f-box" id="dimsum">
    <img src="/img/art/dimsum.jpg" alt="">
    <h4>Dim Sum Galore</h4>
    <p>Digital Painting done in Paint Tool SAI</p>
  </div>
  <div class="f-box" id="cake">
    <img src="/img/art/cake.jpg" alt="">
    <h4>Cake Kingdom</h4>
    <p>
      Digital illustrations for my published book
      <a
        target="_blank"
        href="https://itunes.apple.com/us/book/cake-kingdom/id905128126?mt=11"
        onclick="sendLinkEvent('GOTO Cake Kingdom Link (Art)')"
      >
        Cake Kingdom
      </a>
    </p>
  </div>
  <div class="f-box" id="goldfish">
    <img src="/img/art/goldfish.jpg" alt="">
    <h4>The Snack Who Smiled Back</h4>
    <p>Felt Tip Pen Doodle</p>
  </div>
  <div class="f-box" id="pig">
    <img src="/img/art/pig.jpg" alt="">
    <h4>Piggies</h4>
    <p>Digital Painting done in Paint Tool SAI</p>
  </div>
</div>
