<div class="darkest-section">
  <div class="container text-center">
    <div class="footer">
      <p>	&#169; 2017 David Ng</p>
      <span>
        <a
          target="_blank"
          href="https://github.com/ng-david/"
          onclick="ga('send', 'event', 'clicked link', 'My Github', 'Links' );"
        >
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
        <a
          target="_blank"
          href="https://www.linkedin.com/in/ng-david/"
          onclick="
          ga('send', {
            hitType: 'event',
            eventAction: 'clicked link',
            eventLabel: 'My LinkedIn',
            eventCategory: 'Links',
          });
          "
        >
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
        <a
          href="#"
          onclick="
          ga('send', {
            hitType: 'event',
            eventAction: 'clicked link',
            eventLabel: 'Email Me',
            eventCategory: 'Links',
          });
          "
        >
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
      </span>
    </div>
  </div>
</div>
