<div class="darkest-section">
  <div class="container text-center">
    <div class="footer">
      <p>	&#169; 2017 David Ng</p>
      <span>
        <a
          target="_blank"
          href="https://github.com/ng-david/"
          onclick="sendLinkEvent('GOTO Davids Github')"
        >
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
        <a
          target="_blank"
          href="https://www.linkedin.com/in/ng-david/"
          onclick="sendLinkEvent('GOTO Davids LinkedIn')"
        >
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
        <a
          href="#"
          onclick="sendLinkEvent('GOTO Email David (Footer)')"
        >
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
        <a
          target="_blank"
          href="{{ site.baseurl }}/Resume_DavidNg.pdf"
          onclick="sendLinkEvent('GOTO Davids Resume (Footer)')"
        >
          <i class="fa fa-file-text" aria-hidden="true"></i>
        </a>
      </span>
    </div>
  </div>
</div>
