@import url('https://fonts.googleapis.com/css?family=Oswald:300,600');
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab:400,600');

html {
  font-size: 62.5%
}

body {
  font-family: $base-font-family;
  line-height: $base-line-height;
  font-size: 1.8rem;
  background-color: $body-bg;
}

section {
  padding-top: 8rem;
  padding-bottom: 8rem;
  h3 {
    margin-bottom: 4rem;
  }
  .heading {
    margin-bottom: 8rem;
  }
}

button {
  cursor: pointer;
}

// Normalize
p {
  margin: 0;
  margin: 1rem 0rem;
}

a {
  color: $brand-color;
  &:hover, &:focus {
    text-decoration: none;
    outline: none;
    color: $brand-color-light;
    //color: $brand-color-dark;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
  line-height: $base-line-height;
}

h1 {
  margin-bottom: 1rem;
}

h2 {
  font-weight: 100;
}

h3 {
  font-family: $heading-font-family;
  font-size: 2.8rem;
}

h4 {
  font-size: 1.8rem;
  font-weight: bold;
}

.divider {
  margin: 0 auto;
  width: 4rem;
  border-bottom: 2px solid $black;
}
