/*
This file is for styling that will be reused on many pages site wide.

Example:
//This is a re-occuring button on the site.
cta-button {
  background-color: blue;
}
*/

html {
	font-size: $base-font-size;
}

body {
	font-family: $base-font-family;
	line-height: $base-line-height;
	-webkit-font-smoothing: antialiased;
	font-size: 1.6rem;
	background-color: $grey-color-dark;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
h1 {
	font-size: 4.8rem;
}
h2 {
	font-size: 3.2rem;
}
h3 {
	font-size: 2.4rem;
	line-height: 1.5;
	margin-bottom: 10px;
}
h4 {
	line-height: $base-line-height;
	font-size: 2.0rem;
	margin-bottom: 20px;
}
h5 {
	font-size: 1.6rem;
}
h6 {
	font-size: 1.4rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
	transition: none;
	color: $brand-color;
	&:hover, &:focus {
  	text-decoration: none;
  	color: $brand-color-light;
	}
	&:focus {
		color: $brand-color;
	}
}

main {
	//width: $on-desktop;
	background-color: black;
	height: 200px;
}

input {
	font-family: $base-font-family;
	padding: 8px;
}

textarea {
	font-family: $base-font-family;
	padding: 8px;
}

button {
	font-family: $base-font-family;
	font-weight: $font-demibold;
    &:focus {
			outline: none;
  	}
}
