.sprites {
  @mixin s-pos($top, $right, $bottom, $left) {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
  }
  %splash-sm {
    transition: ease all .3s;
    width: 3rem;
    height: 3rem;
    opacity: .4;
    background-size: 3rem auto;
  }
  %splash-md {
    transition: ease all .2s;
    width: 5rem;
    height: 5rem;
    opacity: .6;
    background-size: 5rem auto;
  }
  %splash-lg {
    transition: ease all .2s;
    width: 6rem;
    height: 6rem;
    opacity: .8;
    background-size: 6rem auto;
  }
  .s-sprite {
    position: absolute;
    background: url("../img/splash/splash_sprite.png") no-repeat;
    &.business {
      background-position: 0px -400px;
      @extend %splash-md;
      @include s-pos(auto, 25.5rem, 8rem, auto);
    }
    &.hc {
      background-position: 0px -180px;
      @extend %splash-sm;
      @include s-pos(auto, 11rem, 24rem, auto);
    }
    &.thumb {
      background-position: 0px -210px;
      @extend %splash-sm;
      @include s-pos(auto, 45rem, 6rem, auto);
    }
    &.maintain {
      background-position: 0px -250px;
      @extend %splash-md;
      @include s-pos(auto, auto, 16rem, 1.5rem);
    }
    &.pro {
      background-position: 0px -60px;
      @extend %splash-sm;
      @include s-pos(auto, auto, 11rem, 43rem);
    }
    &.software {
      background-position: 0px -60px;
      @extend %splash-lg;
      @include s-pos(auto, 4rem, 0rem, auto);
    }
    &.hardware {
      background-position: 0px -450px;
      @extend %splash-md;
      @include s-pos(auto, auto, 1rem, 27.5rem);
    }
    &.uiux {
      background-position: 0px -240px;
      @extend %splash-lg;
      @include s-pos(auto, auto, 4rem, 10rem);
    }
    &.phone {
      background-position: 0px -90px;
      @extend %splash-sm;
      @include s-pos(auto, auto, 32rem, 16rem);
    }
    &.hidden {
      background-position: 0px 0px;
      opacity: 0;
    }
    &.alt {
      background-position: 0px 0px !important;
      opacity: .2;
    }
  }
}
