.tri {
  width: 0;
  height: 0;
  &.darkest-bg {
    background-color: $darkest-bg;
  }
  &.dark-bg {
    background-color: $dark-bg;
  }
  &.light-bg {
    background-color: $grey-bg;
  }
  &.white-bg {
    background-color: $white;
  }
}
.tri-b {
  @extend .tri;
  &.dark {
    border-bottom-color: $dark-bg;
  }
  &.white {
    border-bottom-color: $white;
  }
}
.tri-t {
  @extend .tri;
  &.dark {
    border-top-color: $dark-bg;
  }
  &.white {
    border-top-color: $white;
  }
}
.tri-bl {
  @extend .tri-b;
	border-bottom: 80px solid $grey-bg;
	border-right: 100vw solid transparent;
}
.tri-br {
  @extend .tri-b;
	border-bottom: 80px solid $grey-bg;
	border-left: 100vw solid transparent;
}
.tri-tr {
  @extend .tri-t;
	border-top: 80px solid $grey-bg;
	border-left: 100vw solid transparent;
}
.tri-tl {
  @extend .tri-t;
	border-top: 80px solid $grey-bg;
	border-right: 100vw solid transparent;
}
