
// Our variables
$heading-font-family: 'Oswald', sans-serif;
$base-font-family: 'Raleway', sans-serif;
$font-light:200;
$font-regular: 400;
$font-demibold: 500;
$font-bold:700;
$base-line-height: 1.5;

$spacing-unit:     3.0rem;

$text-color:       #000000;
$background-color: #ffffff;

$white:            #ffffff;
$black:            #000000;
$grey:             #333333;
$brand-color:      #ca0000;
$brand-color-dark: #00709c;

$grey-bg:          #f8f8f9;
$grey-border:      #f4f4f5;



// Width of the content area
$xs-min-width:       384px;
$xs-max-width:       543px;

$sm-min-width:       544px;
$sm-max-width:       767px;

$md-min-width:       768px;
$md-max-width:       991px;

$lg-min-width:       896px;
$lg-max-width:       1199px;
