@charset "utf-8";

// Our variables
$base-font-family: "Avenir Next", Helvetica Neue, Helvetica, Arial, sans-serif;
$base-font-size: 62.5%;
$small-font-size:  $base-font-size * 0.875;
$font-light:200;
$font-regular: 400;
$font-demibold: 500;
$font-bold:700;
$base-line-height: 1.5;

$spacing-unit:     3.0rem;

$text-color:       #000000;
$background-color: #ffffff;

$brand-color:      #ED213C;
$brand-color-light:#ff8899;

$grey-bg:          #f8f8f9;
$grey-border:      #f4f4f5;


$grey-color:       #3E3E3E;
$grey-color-lightest: lighten($grey-color, 50%);
$grey-color-light: lighten($grey-color, 30%);
$grey-color-dark:  darken($grey-color, 30%);

// Width of the content area
$xs-min-width:       384px;
$xs-max-width:       543px;

$sm-min-width:       544px;
$sm-max-width:       767px;

$md-min-width:       768px;
$md-max-width:       991px;

$lg-min-width:       896px;
$lg-max-width:       1199px;
