
// Our variables
$heading-font-family: 'Oswald', sans-serif;
$base-font-family: 'Zilla Slab', serif;

$font-light:200;
$font-regular: 400;
$font-demibold: 500;
$font-bold:700;
$base-line-height: 1.5;

$spacing-unit:     3.0rem;

$text-color:       #000000;
$background-color: #ffffff;

$white:            #ffffff;
$black:            #000000;
$grey:             #808080;

$dark-bg:          #34393b;
$darkest-bg:       #292e31;
$body-bg:          #24292b;

$brand-color:      #35c8ff;
$brand-color-dark: #b80000;
$brand-color-light:#93ecff;

$grey-bg:          #f9f8f7;
$grey-border:      #f4f4f5;



// Width of the content area
$xs-min-width:       384px;
$xs-max-width:       543px;

$sm-min-width:       544px;
$sm-max-width:       767px;

$md-min-width:       768px;
$md-max-width:       991px;

$lg-min-width:       896px;
$lg-max-width:       1199px;
